@import 'rsuite/dist/rsuite.css';

.relatives {
	position: relative !important;
}
.absolutes {
	position: absolute !important;
}

.line {
	height: 2px;
	margin-top: 36px;
	width: 80%;
	background-color: #d4d4d4;
	position: relative;
}

.line::before {
	content: 'OR';
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #fff;
	color: #000;
	padding: 0 15px;
}

.ant-menu-item-selected {
	background-color: #0d9488 !important;
	color: white !important;
}

.button-floting {
	position: fixed;
	width: 60px;
	height: 60px;
	bottom: 0;
	right: 0;
	border-radius: 100%;
	margin: 35px 25px;
}
